<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
    <link rel="stylesheet" type="text/CSS" href="/Personal-Project/public/styles/styles.css" />
    <script
    src="https://kit.fontawesome.com/ea14444899.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <header>
      <img src="/Personal-Project/public/images/Fitness Connection Logo.png" width="200" height="200" class="logo"/>

        <nav class="navbar">
            <ul>
              <li><a href="index.html" class="class1">Home</a></li>
              <li><a href="account.html" class="class1">Account</a></li>
              <li><a href="exercise.html" class="class1">Exercises</a></li>
              <li><a href="contact.html" class="class1">Contact Us</a></li>
            </ul>
            <i class="fa fa-bars"></i>
          </nav>
      </header>
      <main>
      <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="search-bar" placeholder="Search Exercise" name="search" type="text">

        <div class="create-exercise">
            <button class="create-new"> + Create New Exercise</button>
           </div>  
        <div class="tab">
            <button class="tablinks">Exercises</button>
            <button class="tablinks">Upload</button>
            <button class="tablinks">Details</button>
          </div>
          <div id="Exercises" class="tabcontent">
            <h3>Exercises</h3>
            <p>This tab will display exercises uploaded to the site. Button not active due to no javascript.</p>
          </div>
          
          <div id="Upload" class="tabcontent">
            <h3>Upload</h3>
            <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
                <input type="submit">
              </form>
              
          </div>
          
          <div id="Details" class="tabcontent">
            <h3>Details</h3>
            <p>This will be a form allowing the user to choose type of exercise, name of exercise, reps, duration etc. Button not active due to no javascript.</p>
            <form>

            </form>
          </div>
         
      </div>
      </main>
      <footer>
        <div class="footer-div">
  
          <div>
            <h3>VISIT US</h3>
            <p>
              Fitness Connection<br />
              1234 Fitness Lane<br />
              Atlanta,GA 30228
            </p>
            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
          </div>
          <div>
            <h3>LINKS</h3>
            <a href="index.html" class="class1">Home</a><br />
            <a href="account.html" class="class1">Account</a><br />
            <a href="exercise.html" class="class1">Exercises</a><br />
            <a href="contact.html" class="class1">Contact US</a><br />
  
          </div>
  
          <div>
            <h3>CONNECT WITH US</h3>
            <i class="fa-brands fa-facebook"></i> &nbsp;
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div>
        
        </div>
      </footer>

    
</body>
</html>